{% extends 'Recommendation/base.html' %}

{% block body_block %}
<div class="content artists">
  <h1>Here's the playlist with your new artists:</h1>
  <div class="link">
    {% if playlist %}
    <a id = "spotifyURL" href="{{playlist}}">{{playlist_name}}</a>
    {% else %}
      <p>There is no playlist</p>
    {% endif %}
  </div>
  <h3>Here are your artists:</h3>
  {% if new_artists %}
  <div id="artist_list">

    {% for new_art in new_artists%}
      <a onmouseover="mouseOver(this)" onmouseout="mouseOut()" href="{{new_art.2}}" id="artist_{{forloop.counter0}}" name="{{new_art.0}}"><img class="artist_img" src="{{new_art.1}}" alt=""></a>
    {%endfor%}

  </div>
  <div class="name-div">
    <h3 id="name"></h3>
  </div>
  {% else %}
  <div class="container">
    <h3>Nothing Found</h3>
  </div>
</div>
{% endif %}



{% endblock %}
